body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: darkblue;
}

h1 {
    border-bottom: 3px solid darkblue;
    padding-bottom: 10px;
}